<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e_commerce.miscroservice.guanzhao_proj.product_order.mapper.GZSubjectMapper">

    <select id="findMyLearningSubject"
            resultType="com.e_commerce.miscroservice.guanzhao_proj.product_order.vo.MyLearningSubjectVO">
        select a.*,b.subject_head_portrait_path as img,b.name as subjectName from t_gz_user_subject a,t_gz_subject b where a.user_id = #{id}
    </select>
    <select id="findEndingSubject"
            resultType="com.e_commerce.miscroservice.guanzhao_proj.product_order.vo.MyLearningSubjectVO">

                select a.expire_time,a.create_time,b.name as subjectName,b.subject_head_portrait_path as img from t_gz_user_subject a,t_gz_subject b
                where a.user_id = #{id} and a.expire_time <![CDATA[
                <
                ]]> #{currentTimeMillis}

    </select>
</mapper>











